<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-75-242-47.eu-west-1.compute.amazonaws.com:5432/dfic79t2nibr9t?sslmode=require
        </property>
        <property name="hibernate.connection.username">gezuscmpecaoap</property>
        <property name="hibernate.connection.password">128f57c6fbe610a292f6bd4fbb6d67986a3573030e045c08352ec9288801a002</property>

        <mapping resource="ListRooms.hbm.xml"/>
        <mapping resource="Orders.hbm.xml"/>

    </session-factory>
</hibernate-configuration>