<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get Total Cost</title>
</head>
<body>
<a href="listRooms" title="Return to list rooms">List rooms</a>
<hr>
<table border="1" style="font-size:150%">
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Date From</th>
        <th>Date Till</th>
        <th>Total</th>
        <th>Date registration</th>
    </tr>
    <tr th:each ="room : ${rooms}">
        <td th:utext="${room.name}">...</td>
        <td th:utext="${room.number}">...</td>
        <td th:utext="${room.dateFrom}">...</td>
        <td th:utext="${room.dateTill}">...</td>
        <td th:utext="${room.cost}">...</td>
        <td th:utext="${room.dateRegistration}">...</td>
    </tr>
</table>
</body>
</html>