<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rooms List</title>
    <link rel="stylesheet" th:href="listRooms.css">
</head>
<body id="b">
<a th:href="@{/startPage}" title="Return to the start page">Start Page</a>&nbsp&nbsp
<a th:href="@{/listOrdersByName}" title="View order by name">List orders by name</a>
<hr>
<div>
    <fieldset>
        <legend><h1>Rooms list:</h1></legend>
    <strong style="font-size: large">
        <a th:href="@{/listRooms}" title="Select all category">All category</a>&nbsp&nbsp
        <a th:href="@{/premiumCategory}" title="Select premium category">Premium category</a>&nbsp&nbsp
        <a th:href="@{/averageCategory}" title="Select average category">Average category</a>&nbsp&nbsp
        <a th:href="@{/budgetCategory}" title="Select budget category">Budget category</a>
    </strong>
    <hr>
        <table id="customers" border="1" style="font-size:150%" th:align="center">
            <tr>
                <th>Number</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            <tr th:each ="room : ${rooms}">
                <td th:utext="${room.number}">...</td>
                <td th:utext="${room.category}">...</td>
                <td th:utext="${room.price}">...</td>
            </tr>
        </table>
    </fieldset>
</div>
<div>
<a href="makeOrder" id="z">Make order</a>
</div>
</body>
</html>