<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms List</title>
    <style>
        #b{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("room.jpg");
        }
    </style>
</head>
<body id="b">
<a th:href="@{/startPage}" title="Return to the start page">Start Page</a>&nbsp&nbsp
<hr>
<div>
    <strong>
        <a th:href="@{/listRooms}" title="Select all category">All category</a><br>
        <a th:href="@{/premiumCategory}" title="Select premium category">Premium category</a><br>
        <a th:href="@{/averageCategory}" title="Select average category">Average category</a><br>
        <a th:href="@{/budgetCategory}" title="Select budget category">Budget category</a>
    </strong>
    <br>
    <h1>Rooms list:</h1>
    <table border="1" style="font-size:150%">
        <tr>
            <th>Number</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        <tr th:each ="room : ${rooms}">
            <td th:utext="${room.number}">...</td>
            <td th:utext="${room.category}">...</td>
            <td th:utext="${room.price}">...</td>
        </tr>
    </table>
</div>
<br>
<form th:action="@{/listRooms}" th:object="${number}" th:method="POST" >
    <input type="number" name="number" placeholder="enter rum number">Number of days<br>
    <input type="radio" name="breakfast" title="mark this tag if you want include breakfast">Breakfast<br>
    <input type="radio" name="cleaning" title="mark this tag if you want include cleaning">cleaning<br>
    <button type="submit" name="submit">Order</button>
</form>
</body>
</html>