<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make order</title>
    <style>
        input {
            width: 100%;
        }
    </style>
</head>
<body>
<a th:href="@{/listRooms}" title="Return to the rooms list page">Rooms List</a>&nbsp&nbsp
<a th:href="@{/listOrdersByName}" title="View order by name">List orders by name</a>
<hr>
<form th:action="@{/makeOrder}" th:object="${order}" method="POST">
<fieldset>
    <legend><h1>Order</h1></legend>
    <label>Name
        <input type="text" th:field="*{name}" placeholder="Enter your name" title="Enter yor name" maxlength="50"><br>
    </label>
    <label>The room number
        <input type="number" th:field="*{number}" placeholder="Enter The room number" title="Enter The room number"><br>
    </label>
    <label>Date
        <input type="date" th:field="*{dateFrom}" placeholder="Enter date from" title="Enter date from">< >
        <input type="date" th:field="*{dateTill}" placeholder="Enter date till" title="Enter date till"><br>
    </label>
    <label>
        <input type="checkbox" name="breakfast" value="breakfast">
    </label>Breakfast 5$<br>
    <label>
        <input type="checkbox" name="cleaning" value="cleaning">
    </label>cleaning 1$<br>
    <button type="submit">Order</button>
    <button type="reset">Clear</button>
</fieldset>
</form>
<br>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
</body>
</html>