<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>    <title>Start Page</title>
    <style>
        #b{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("room.jpg");
        }
    </style>
</head>
<body id="b">
<a th:href="@{/listRooms}" title="to list of rooms page">List Rooms</a>&nbsp&nbsp
<a th:href="@{/allOrders}" title="to list of all orders">List of all orders</a>&nbsp&nbsp
<a th:href="@{/listOrdersByName}" title="View order by name">List orders by name</a>
<hr>
<div style="position: relative; text-align: center">
<p style="position: fixed; bottom: 5px; width: 100%;">
    <i>Made by Java, Spring Boot, Thymeleaf, HTML</i>
</p>
</div>
</body>
</html>